@import "/style/reset.css";

/*fonts start*/

/* jost-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-v15-cyrillic_latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jost-v15-cyrillic_latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* jost-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/jost-v15-cyrillic_latin-italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jost-v15-cyrillic_latin-italic.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* jost-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jost-v15-cyrillic_latin-500.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jost-v15-cyrillic_latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* jost-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jost-v15-cyrillic_latin-600.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jost-v15-cyrillic_latin-600.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* jost-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jost-v15-cyrillic_latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/jost-v15-cyrillic_latin-700.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* montserrat-alternates-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-alternates-v17-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/montserrat-alternates-v17-cyrillic_latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* montserrat-alternates-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-alternates-v17-cyrillic_latin-600.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/montserrat-alternates-v17-cyrillic_latin-600.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bauhaus LT(RUS BY LYAJKA)";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bauhas_lt\(RUS\ BY\ LYAJKA\).ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* old-standard-tt-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/old-standard-tt-v20-cyrillic_latin-regular.woff2")
      format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("../fonts/old-standard-tt-v20-cyrillic_latin-regular.ttf")
      format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/*general start*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Jost";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.9px;
}

.section__title {
  color: #434343;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
  z-index: 2;
}

.more {
  padding: 20px 30px;
  border-radius: 100px;
  border: 2px solid #45b8cf;
  background: transparent;
}

main {
  overflow: hidden;
}

.btn__interaction:hover {
  transform: scale(1.03);
  transition: all 0.1s;
}

.btn__interaction:active {
  transform: scale(1);
}

.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  transition: 0.3s all;
  backdrop-filter: blur(2.5px);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hdr__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.hdr__container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hdr__back-link{
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 30px;
  background: #caa5f2;
  color: #fff;
  border-radius: 60px;
}

.a__pop-close {
  right: 50px;
  top: 50px;
}

.pop-close-line {
  position: absolute;
  width: 30px;
  height: 4px;
  top: 50%;
  background: #434343;
  border-radius: 5px;
}

.pop-close-line-1 {
  transform: rotate(45deg);
}

.pop-close-line-2 {
  transform: rotate(-45deg);
}

.courses {
  margin-bottom: 150px;
}

.courses__wrapper{
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crs__wrapper {
  max-width: 1182px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.crs__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.crs__heading-title {
  margin-bottom: 0;
}

.crs__heading-more {
  color: #7a7a7a;
  font-family: "Montserrat Alternates";
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  padding-left: 5px;
  display: none;
}

.crs__cards {
  padding: 45px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}

.crs__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 25px;
  padding: 50px 30px;
  padding-left: 50px;
  border-radius: 100px;
  background: #fff;
  border: 2px solid #caa5f2;
  transition: 0.1s all
}

.crs__card:hover, .crs__card:active {
  transform: scale(1.02);
  border: 2px solid #9f45ff;
}
  
.crs__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
}

.crs__name {
  font-size: 35px;
  font-weight: 600;
}

.crs__info,
.crs__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crs__info {
  row-gap: 36px;
}

.crs__desc {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  color: #606060;
}

.crs__time,
.crs__price {
  font-size: 30px;
  color: #434343;
  font-weight: 600;
}

.crs__main-sel {
  color: #caa5f2;
}

.crs__more-footer {
  display: none;
}

.crs__popup{
  padding: 20px 20px;
}

.c__pop-content{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  border-radius: 87px;
  background-color: #fff;
  background-image: url(/img/modal/crs/crs__modal-bg.png),
    url(/img/modal/crs/crs__modal-bg1.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center right 57px, -200px -210px;
  row-gap: 25px;
  padding: 70px;
  padding-top: 40px;
  padding-right: 125px;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  transition: 0.2s;
}

.c__pop-heading{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.c__pop-pic{
  height: fit-content;
}

.c__pop-title{
  width: 100%;
  font-size: 50px;
  font-weight: 600;
}

.c__pop-desc{
  max-width: 720px;
  color: #434343;
  font-family: 'Jost';
  font-size: 30px;
  font-weight: 600;
}

.c__pop-main{
  column-gap: 30px;
  display: flex;
  align-items: center;
}

.c__pop-info{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
  row-gap: 15px;
  text-align: center;
} 

.c__pop-info-main{
  color: #45B8CF;
}

.c__pop-form{
  width: 100%;
  display: flex;
  align-items: end;
}

.c__pop-form-cell:first-of-type{
  margin-right: 40px;
}   

.c__pop-form-cell {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}

.c__pop-label{
  padding-left: 15px;
  font-size: 22px;
  font-weight: 600;
}

.c__pop-input{
  padding: 17px 0;
  padding-left: 28px;
  border-radius: 10px;
  border: 2px solid #b0add4;
  text-transform: capitalize;
}

.c__pop-input:focus {
  border: 2px solid #7e77d1;
  transform: scale(1.02);
}

.c__pop-input::placeholder{
  font-family: 'Jost';
  color: #434343;
  font-size: 25px;
  font-weight: 400;
  text-transform: none;
}

.c__pop-submite{
  margin-left: auto;
  padding: 20px 55px;
  height: fit-content;
  color: #FFF;
  font-family: 'Montserrat Alternates';
  font-size: 25px;
  border-radius: 10px;
  background: #a276d1;
  border: none;
  font-weight: 600;
  transition: 0.2s all;
}

.c__pop-submite-active{
  background: #caa5f2;
  transform: scale(1.05);
}

.crs__pop-close{
  right: 87px;
  top: 60px;
}

/*courses end*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(49, 49, 49, 0.35);
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.popup-open {
  opacity: 1;
  visibility: visible;
}

.pop-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-content-open {
  transform: none;
}

.pop-close {
  position: absolute;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1500px) {
  .crs__cards{
    grid-template-columns: repeat(2, 1fr);
  }  
}

@media screen and (max-width: 1280px) {
  .c__pop-content{
    background-image: none,
    url(/img/modal/crs/crs__modal-bg1.png);
    row-gap: 10px;
    background-position: -200px -240px;
  }

  .c__pop-main{
    flex-direction: column;
    row-gap: 20px;
  }

  .c__pop-info{
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
  }

  .c__pop-form{
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    max-width: 630px;
  }

  .c__pop-title{
    font-size: 40px;
  }
  
  .c__pop-submite{
    margin-left: 0;
  }
}


@media screen and (max-width: 1000px) {
  .crs__cards{
    row-gap: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    max-width: 600px;
  }

  .crs__name{
    font-size: 30px;
  }

  .crs__desc,
  .crs__time,
  .crs__price{
    font-size: 25px;
  }
  
  .c__pop-content{
    padding: 50px;
  }

  .c__pop-title{
    font-size: 25px;
  }

  .c__pop-desc,
  .c__pop-submite{
    font-size: 20px;
  }

  .c__pop-info,
  .c__pop-form,
  .c__pop-input::placeholder{
    font-size: 18px;
  }
}

@media screen and (max-width: 900px) {
  .c__pop-content{
    background-position: -280px -280px;
  }

  .c__pop-title{
    font-size: 30px;
  }

  .c__pop-desc{
    font-size: 24px;
    max-width: 500px;
  }

  .c__pop-info,
  .c__pop-form,
  .c__pop-input::placeholder{
    font-size: 20px;
  }

  .c__pop-form-cell:first-of-type{
    margin: 0;
  }

  .c__pop-label{
    display: none;
  }

  .c__pop-info{
    flex-direction: column;
  }

  .c__pop-form{
    flex-direction: column;
    align-items: center;
  }

  .c__pop-submite{
    padding: 20px 30px;
  }
}

@media screen and (max-width: 500px) {
  .hdr__back-link{
    padding: 10px 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .crs__pop-close{
    top: 35px;
    right: 35px;
  }

  .crs__popup {
    padding: 0;
  }

  .c__pop-content{
    min-height: 100vh;
    height: fit-content;
    width: 100vw;
    border-radius: 0;
  }
  .crs__cards{
    padding: 20px 15px;
  }

  .crs__pic,
  .c__pop-pic {
    height: 40px;
    width: 40px;
  }

  .crs__title{
    column-gap: 10px;
  }

  .crs__name{
    font-size: 25px;
  }

  .crs__desc,
  .crs__time,
  .crs__price{
    font-size: 20px;
  }

  .crs__more{
    font-size: 18px;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  .crs__card{
    padding: 20px 5px;
    border-radius: 30px;
  }

  .c__pop-content{
    padding: 40px 15px;
  }

  .crs__pop-close{
    right:  20px;
    top: 20px;
  }
}